<!DOCTYPE html>
<title>にばんめのVue.js</title>
<script src="../vue.js"></script>
<button id="b-button" v-bind:title="loggedInButton">Buy it……</button>

<div id="app">
  <p>{{count}}</p>
  <!--
  <ul>
  <li v-for="item in items" :key="item.name">
  {{item.name}}の個数:<input type="number" v-on:input="item.quantity = $event.target.value" v-bind:value="item.quantity" min="0">
</li>
</ul>
-->
<ul>
  <li v-for="item in items" :key="item.name">
    {{item.name}}の個数:<input type="number" v-model="item.quantity" min="0">
  </li>
</ul>
<div :style="errorMessageStyle">
  <ul>
    <li v-for="item in items" v-bind:key="item.name">
      {{item.name}}: {{item.price}}*{{item.quantity}} ={{item.price * item.quantity|numberWithDelimiter}}yen
    </li>
  </ul>
  <p>{{totalPrice|numberWithDelimiter}}yen</p>
  <p>{{totalPriceWithTax|numberWithDelimiter}}yen</p>
  <p v-show="!canBuy">
    {{1000 | numberWithDelimiter}}円以上からご購入いただけます
  </p>
  <p v-bind:class="!errorMessageClass">
    {{1000 | numberWithDelimiter}}円以上からご購入いただけます
  </p>
</div>
</div>
<script src="app_2.10.js">
</script>
